<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../../themes/zs/app.css" />
</head>

<body class="zs-style zs-space" style="padding:2em">
	<my-comp myattr1 myattr2 myattr3></my-comp>
	<div id="myDiv"></div>
</body>
<script src="../../../zsui/lib/js/customElements.poly.js"></script>
<script src="../../../zsui/lib/js/customElements.js"></script>
<script src="../../../zsui/lib/js/domHelper.js"></script>
<script src="../../../zsui/components/tabs/zsTab.js"></script>
<script src="myComp.js"></script>

</html>