awscli
boto
ConfigParser==3.5.3
cryptography==2.7
docutils==0.15.2
Fernet==1.0.1
flask_bcrypt==0.7.1
Flask-WTF==0.14.3
fpdf==1.7.2
html5lib==1.0.1
kubernetes==12.0.1
MarkupSafe==1.1.1
mysqlclient==2.0.2
mysql-connector-python
paramiko==2.7.2
pyhive
PyMySQL
pypdf2==1.26.0
pysftp
pyspark
python3-logstash==0.4.80
python-daemon==2.2.4
requests==2.25.1
selenium==3.141.0
thrift==0.13.0
