<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="../../themes/zs/app.css" rel="stylesheet" />
		<title>ZS UI Components // Modal dialog</title>
	</head>
	<script src="../../lib/js/jquery.min.js"></script>
	<script src="jquery.zsModal.js"></script>
	<body class="zs-style zs-reset" style="padding:2em">
		<h2>Modal dialog</h2>
		<div class="zs-modal" hidden>
			<header><span>Title</span><a class="zs-icon zs-icon-close zs-icon-large" close></a></header>
			<section>
				<p>
				<input type="text" autofocus class="zs-input"/>
				</p>
				<p>
				<input type="text" submit-on-enter class="zs-input"/>
				</p>
			</section>
			<footer><a href="javascript:void(0)" close>Cancel</a><button class="zs-button zs-button-action" action>Action</button></footer>
		</div>
		<button open class="zs-button">Open</button>
		<script>
			$(document).ready(function() {
				$('.zs-modal').zsModalDialog({
					autoOpen: true
				});

				$('button[open]').click(function() {
					$('.zs-modal').zsModalDialog('open');
				});		
			});
		</script>
	</body>

</html>