/* Flexbox mixins */
/*
Typography

Typography and content elements

Markup:
<main>
	<header>Page title</header>
	<section>
		<h2>Heading 2</h2>
		<p>Lorem ipsum dolor sit amet, <b>consectetur</b> 	<i>adipiscing elit. Drag</i>. <b>	<i>Donec bibendum</i></b>, dui id gravida mattis, tortor neque imperdiet dolor, ut vehicula lectus massa at purus. Pellentesque dapibus elit molestie hendrerit rhoncus. Aenean at vulputate magna. Suspendisse eget lorem et magna auctor pulvinar. <a href="#">Donec accumsan</a> dictum dui. Maecenas pretium consequat sapien quis iaculis. Fusce ultricies vehicula posuere.</p>
		<h3>Heading 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum, dui id gravida mattis, tortor neque imperdiet dolor, ut vehicula lectus massa at purus. Pellentesque dapibus elit molestie hendrerit rhoncus. Aenean at vulputate magna. Suspendisse eget lorem et magna auctor  pulvinar. Donec accumsan dictum dui. Maecenas pretium consequat sapien quis iaculis. Fusce ultricies vehicula posuere.</p>
		<h2>Heading 2 followed by 3</h2>
		<h3>Heading 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum, dui id gravida mattis, tortor neque imperdiet dolor, ut vehicula lectus massa at purus. Pellentesque dapibus elit molestie hendrerit rhoncus. Aenean at vulputate magna. Suspendisse eget lorem et magna auctor  ulvinar. Donec accumsan dictum dui. Maecenas pretium consequat sapien quis iaculis. Fusce ultricies	vehicula posuere.</p> 
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum, dui id gravida mattis, tortor neque imperdiet dolor, ut vehicula lectus massa at purus. Pellentesque dapibus elit molestie hendrerit rhoncus. Aenean at vulputate magna. Suspendisse eget lorem et magna auctor   ulvinar. Donec accumsan dictum dui. Maecenas pretium consequat sapien quis iaculis. Fusce ultricies vehicula posuere.</p>
	</section>
</main>

Styleguide Typography
*/
.zs-style,
.zs-style *,
.zs-stye:before,
.zs-style:after,
.zs-style *:before,
.zs-style *:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.zs-style {
  font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #53565a;
}
.zs-style input::-ms-clear {
  display: none;
}
.zs-style a {
  color: #327f97;
  text-decoration: none;
}
.zs-style a:hover {
  color: #4c94af;
  text-decoration: none;
}
.zs-style a:active {
  color: #4c94af;
}
.zs-style .zs-icon:hover,
.zs-style icon-large:hover {
  cursor: inherit;
  background-position: inherit;
}
.zs-style button.zs-disabled,
.zs-style button[disabled],
.zs-style a.zs-disabled,
.zs-style a[disabled],
.zs-style *[disabled],
.zs-style .zs-disabled,
.zs-style button.zs-loading,
.zs-style a.zs-loading,
.zs-style .zs-loading {
  cursor: pointer;
  opacity: 0.4;
  pointer-events: none;
}
.zs-style em,
.zs-style b {
  font-weight: bold;
}
.zs-style i {
  font-style: italic;
}
.zs-style h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 1.775em 0em 1.065em 0em;
  border: 0;
}
.zs-style h1 {
  font-size: 26px;
  font-weight: normal;
  margin: 1.775em 0em 1.065em 0em;
}
.zs-style h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 1.42em 0em 0.71em 0em;
}
.zs-style p,
.zs-paragraph {
  margin: 1.065em 0em 0.71em 0em;
}
.zs-style hr {
  border-bottom: 1px solid #e1e9ef;
  *zoom: 1;
  display: block!important;
}
.zs-style hr:before,
.zs-style hr:after {
  content: "";
  display: table;
}
.zs-style hr:after {
  clear: both;
}
.zs-font-large {
  font-size: 16px;
}
.zs-font-small {
  font-size: 12px;
}
.zs-font-normal {
  font-size: 14px;
}
.zs-hidden {
  display: none;
}
.zs-data-grid td.clickable:hover {
  cursor: pointer;
  background: #f2f2f2;
}
.zs-clear {
  *zoom: 1;
  display: block!important;
}
.zs-clear:before,
.zs-clear:after {
  content: "";
  display: table;
}
.zs-clear:after {
  clear: both;
}
.zs-style .zs-layout-main,
.zs-style main,
main.zs-style {
  padding: 0em 0em 0.71em 0em;
  background: #f2f2f2;
}
.zs-style main > header,
.zs-style .zs-page-header,
.zs-layout-table > section > main > header {
  font-size: 18px;
  line-height: 16px;
  padding: 0em 0em 1.065em 0em;
}
.zs-style main > header:before,
.zs-style .zs-page-header:before,
.zs-layout-table > section > main > header:before {
  content: '';
  display: block;
  margin: 0.71em 0em 0em 0em;
}
.zs-style main > header > h1,
.zs-style .zs-page-header > h1,
.zs-layout-table > section > main > header > h1 {
  margin: 0.71em 0em 0em 0em;
  font-weight: normal;
}
.zs-style main > header > h1:first-child,
.zs-style .zs-page-header > h1:first-child,
.zs-layout-table > section > main > header > h1:first-child {
  margin: 1.065em 0em 0em 0em;
}
.zs-style.zs-layout-table > section > main > header,
.zs-style.zs-layout-table > section > main > section,
.zs-style .zs-layout-table > section > main > header,
.zs-style .zs-layout-table > section > main > section {
  margin-left: 219.88px;
  margin-right: 19.88px;
}
.zs-style.zs-layout-1col > section > main > header,
.zs-style .zs-layout-1col > section > main > header,
.zs-style.zs-layout-1col main > section,
.zs-style .zs-layout-1col main > section,
.zs-style.zs-layout-1col.zs-layout-table > section > main > section,
.zs-style .zs-layout-1col.zs-layout-table > section > main > section,
.zs-style.zs-layout-1col.zs-layout-table > section > main > header,
.zs-style .zs-layout-1col.zs-layout-table > section > main > header {
  margin-left: 19.88px;
}
.zs-style.zs-layout-1col > section > main > .zs-action-message,
.zs-style .zs-layout-1col > section > main > .zs-action-message {
  margin-left: 0px;
}
main > section,
.zs-page-block,
.zs-page,
.zs-style main > section {
  *zoom: 1;
  display: block!important;
  padding: 1.42em 1.42em 1.42em 1.42em;
  border-radius: 0.3em;
  border-color: #e1e9ef;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px #dee3e3;
}
main > section:before,
.zs-page-block:before,
.zs-page:before,
.zs-style main > section:before,
main > section:after,
.zs-page-block:after,
.zs-page:after,
.zs-style main > section:after {
  content: "";
  display: table;
}
main > section:after,
.zs-page-block:after,
.zs-page:after,
.zs-style main > section:after {
  clear: both;
}
main > section h1:first-child,
.zs-page-block h1:first-child,
.zs-page h1:first-child,
.zs-style main > section h1:first-child,
main > section h2:first-child,
.zs-page-block h2:first-child,
.zs-page h2:first-child,
.zs-style main > section h2:first-child,
main > section h3:first-child,
.zs-page-block h3:first-child,
.zs-page h3:first-child,
.zs-style main > section h3:first-child,
main > section p:first-child,
.zs-page-block p:first-child,
.zs-page p:first-child,
.zs-style main > section p:first-child,
main > section table:first-child,
.zs-page-block table:first-child,
.zs-page table:first-child,
.zs-style main > section table:first-child {
  margin-top: 0;
}
main > section > h1:last-child,
.zs-page-block > h1:last-child,
.zs-page > h1:last-child,
.zs-style main > section > h1:last-child,
main > section > h2:last-child,
.zs-page-block > h2:last-child,
.zs-page > h2:last-child,
.zs-style main > section > h2:last-child,
main > section > h3:last-child,
.zs-page-block > h3:last-child,
.zs-page > h3:last-child,
.zs-style main > section > h3:last-child,
main > section > p:last-child,
.zs-page-block > p:last-child,
.zs-page > p:last-child,
.zs-style main > section > p:last-child,
main > section > table:last-child,
.zs-page-block > table:last-child,
.zs-page > table:last-child,
.zs-style main > section > table:last-child {
  margin-bottom: 0;
}
.zs-box {
  padding: 0.71em 0.71em 0.71em 0.71em;
  display: inline-block;
  border: 1px solid #e1e9ef;
  border-radius: 0.3em;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.zs-loading {
  position: relative;
  min-height: 2em;
  min-width: 2em;
}
.zs-loading.zs-button {
  padding-left: 2.5em;
}
.zs-loading.zs-button:after {
  left: 1.71em;
}
.zs-loading:after {
  left: 50%;
  top: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  display: inline-block;
  position: absolute!important;
  color: #53565a;
  -webkit-animation: spin 2s infinite steps(8);
  -moz-animation: spin 2s infinite steps(8);
  -ms-animation: spin 2s infinite steps(8);
  animation: spin 2s infinite steps(8);
}
.zs-loading.zs-data-table:after {
  font-size: 2em;
  opacity: 0.5;
}
.zs-left {
  float: left;
  display: inline-block;
}
.zs-right {
  float: right;
  display: inline-block;
}
.zs-lib-version:after {
  content: '2.6.1';
}
.zs-theme-name:after {
  content: 'zs';
}
.zs-theme-version:after {
  content: '2.6.1';
}
.zs-overflow-hidden {
  overflow: hidden;
}
/*
Lists

Unordered and ordered lists

Markup:
<ul class="zs-list">
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>

Styleguide Typography.Lists
*/
.zs-list,
ol,
.zs-ordered-list {
  padding: 0;
  margin: 0em 0em 0em 1.065em;
  display: block;
  list-style-position: outside;
}
.zs-list > li,
ol > li,
.zs-ordered-list > li {
  display: list-item;
  margin: 0.355em 0em 0.355em 0em;
}
/*
Highlight

Highlight

Markup:
<p>Lorem ipsum dolor sit amet, <span class="zs-highlight">consectetur</span> adipiscing elit. Drag. <mark>Donec bibendum</mark>, dui id gravida mattis, tortor neque imperdiet dolor, ut vehicula lectus massa at purus. Pellentesque dapibus elit molestie hendrerit rhoncus. Aenean at vulputate magna. Suspendisse eget lorem et magna auctor pulvinar.</p>

Styleguide Typography
*/
.zs-highlight,
mark {
  background-color: #fee37c;
  color: inherit;
}
.zs-inline-block {
  display: inline-block;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../lib/fonts/Roboto-Regular.eot');
  src: url('../../lib/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../lib/fonts/Roboto-Regular.woff2') format('woff2'), url('../../lib/fonts/Roboto-Regular.woff') format('woff'), url('../../lib/fonts/Roboto-Regular.ttf') format('truetype'), url('../../lib/fonts/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../lib/fonts/Roboto-Bold.eot');
  src: url('../../lib/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../../lib/fonts/Roboto-Bold.woff2') format('woff2'), url('../../lib/fonts/Roboto-Bold.woff') format('woff'), url('../../lib/fonts/Roboto-Bold.ttf') format('truetype'), url('../../lib/fonts/Roboto-Bold.svg#Roboto') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../lib/fonts/Roboto-Italic.eot');
  src: url('../../lib/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'), url('../../lib/fonts/Roboto-Italic.woff2') format('woff2'), url('../../lib/fonts/Roboto-Italic.woff') format('woff'), url('../../lib/fonts/Roboto-Italic.ttf') format('truetype'), url('../../lib/fonts/Roboto-Italic.svg#Roboto') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../lib/fonts/Roboto-Bold-Italic.eot');
  src: url('../../lib/fonts/Roboto-Bold-Italic.eot?#iefix') format('embedded-opentype'), url('../../lib/fonts/Roboto-Bold-Italic.woff2') format('woff2'), url('../../lib/fonts/Roboto-Bold-Italic.woff') format('woff'), url('../../lib/fonts/Roboto-Bold-Italic.ttf') format('truetype'), url('../../lib/fonts/Roboto-Bold-Italic.svg#Roboto') format('svg');
  font-weight: bold;
  font-style: italic;
}
/*
Icons

Icons

Styleguide Icons
*/
@font-face {
  font-family: 'zsIcons';
  src: url('../../lib/fonts/zsIcons.eot?v{zs-icon-font-version}');
  src: url('../../lib/fonts/zsIcons.eot?#iefixv2.6.1') format('embedded-opentype'), url('../../lib/fonts/zsIcons.woff2?v2.6.1') format('woff2'), url('../../lib/fonts/zsIcons.woff?v2.6.1') format('woff'), url('../../lib/fonts/zsIcons.ttf?v2.6.1') format('truetype'), url('../../lib/fonts/zsIcons.svg?v2.6.1#@zs-icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 *	@deprecated
 */
@font-face {
  font-family: 'Javelin-Icons';
  src: url('../../lib/fonts/zsIcons.eot?v{zs-icon-font-version}');
  src: url('../../lib/fonts/zsIcons.eot?#iefixv2.6.1') format('embedded-opentype'), url('../../lib/fonts/zsIcons.woff2?v2.6.1') format('woff2'), url('../../lib/fonts/zsIcons.woff?v2.6.1') format('woff'), url('../../lib/fonts/zsIcons.ttf?v2.6.1') format('truetype'), url('../../lib/fonts/zsIcons.svg?v2.6.1#@zs-icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
Icon

Icon example 

Markup:
<span class="zs-icon {{modifier_class}} zs-icon-search"></span>

zs-icon-large - Large icon

Styleguide Icons.Icon
*/
.zs-icon {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'zsIcons';
  font-size: 1.14285714em;
  color: #48778a;
  display: inline-block;
}
.zs-icon-large {
  font-size: 1.71428571em;
}
/**
*
*/
.zs-icon-font {
  font-family: 'zsIcons';
}
/*
Status icon

Icon example 

Markup:
<p class="{{modifier_class}}"><span class="zs-icon zs-icon-folder-open"></span></p><p><a href="javascript:void"><span class="zs-icon zs-folder-open {{modifier_class}}"></a>

zs-success - Success
zs-warning - Warning
zs-error - Error
zs-info - Info

Styleguide Icons.StatusIcon
*/
.zs-icon.zs-success,
.zs-success > .zs-icon,
.zs-success.zs-badge:after {
  color: #409f52;
}
.zs-icon.zs-error,
.zs-error > .zs-icon,
.zs-error.zs-badge:after {
  color: #9a402b;
}
.zs-icon.zs-warning,
.zs-warning > .zs-icon,
.zs-warning.zs-badge:after {
  color: #dfb102;
}
.zs-icon.zs-info,
.zs-info > .zs-icon,
.zs-info.zs-badge:after {
  color: #00629b;
}
a > .zs-icon.zs-success:hover:before,
.zs-style a:hover > .zs-icon.zs-success:before {
  color: #57bb6a;
}
a > .zs-icon.zs-error:hover:before,
.zs-style a:hover > .zs-icon.zs-error:before {
  color: #c25136;
}
a > .zs-icon.zs-warning:hover:before,
.zs-style a:hover > .zs-icon.zs-warning:before {
  color: #fdcd17;
}
a.zs-icon.zs-info:hover:before,
.zs-style a:hover > .zs-icon.zs-info:before {
  color: #0082ce;
}
/*
Badge 

Icons with a badge

Markup:
<span class="zs-icon zs-icon-large zs-icon-tasks"><span class="zs-badge zs-badge-current-item"></span></span><br/>
<span class="zs-icon zs-icon-large zs-icon-tasks"><span class="zs-badge zs-success zs-badge-current-item"></span></span><br/>
<span class="zs-icon zs-icon-large zs-icon-tasks"><span class="zs-badge zs-warning zs-badge-warning zs-badge-triangle"></span></span>
<p class="zs-font-large"><span class="zs-icon zs-icon-large zs-icon-tasks"><span class="zs-badge zs-warning zs-badge-warning zs-badge-triangle"></span></span></p>


Styleguide Icons.Badge
*/
.zs-badge {
  font-size: 0.5em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'zsIcons';
  content: '';
  display: inline-block;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
}
.zs-badge.zs-badge-word,
.zs-badge.zs-badge-excel,
.zs-badge.zs-badge-ppt,
.zs-badge.zs-badge-pdf,
.zs-badge.zs-badge-txt,
.zs-badge.zs-badge-zip {
  margin-top: 1px;
  font-size: 1em;
  top: 0;
  left: 0;
}
.zs-badge:after,
.zs-badge:before {
  position: absolute;
}
.zs-badge:before {
  color: #ffffff;
}
.zs-badge-word:before {
  color: #00629b;
}
.zs-badge-excel:before {
  color: #409f52;
}
.zs-badge-ppt:before {
  color: #e35f1d;
}
.zs-badge-pdf:before {
  color: #9a402b;
}
.zs-badge-txt:before {
  color: #6e2b62;
}
.zs-badge-zip:before {
  color: #dfb102;
}
/*
Link icon

A link with an icon 

Markup:
<a href="#" class="{{modifier_class}}"><span class="zs-icon zs-icon-download"></span>Download</a>

zs-disabled - Disabled state

Styleguide Icons.LinkIcon
*/
a:hover > .zs-icon:before,
a > .zs-icon:before {
  display: inline-block;
  text-decoration: none;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  vertical-align: middle;
}
a:hover > .zs-icon:before {
  color: #4c94af;
}
a.zs-icon:before {
  cursor: pointer;
}
/*
Button icon

A button with an icon 

Markup:
<button class="zs-button {{modifier_class}}">
	<span class="zs-icon zs-icon-add"></span>
	Add
</button>

zs-disabled - Disabled state
zs-button-action - Action button

Styleguide Icons.ButtonIcon
*/
.zs-button.zs-icon {
  padding-left: 0.71em;
}
.zs-button.zs-icon:hover {
  cursor: pointer;
}
.zs-button.zs-icon:before {
  position: absolute;
  top: 50%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'zsIcons';
  font-size: 1.14285714em;
  left: -0.1em;
}
.zs-button > .zs-icon:before {
  display: inline-block;
  margin-left: -10px;
  vertical-align: middle;
  padding-bottom: 0.25em;
  margin-right: 0.25em;
}
.zs-button-action > .zs-icon {
  color: #ffffff;
}
.zs-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.zs-icon + .zs-icon {
  margin: 0em 0em 0em 0.1775em;
}
a.zs-icon,
a.zs-icon:hover {
  cursor: pointer;
}
.zs-icon-inactive:before {
  color: #98a4ae;
}
.zs-icon-text:before {
  color: #53565a;
}
.zs-icon-error:before,
.zs-badge-error:after {
  content: "\21";
}
.zs-icon-warning:before,
.zs-badge-warning:after {
  content: "\22";
}
.zs-icon-user-permissions:before {
  content: "\23";
}
.zs-icon-group-permissions:before {
  content: "\24";
}
.zs-icon-group:before {
  content: "\25";
}
.zs-icon-ungroup:before {
  content: "\26";
}
.zs-icon-tasks:before {
  content: "\27";
}
.zs-icon-upload:before {
  content: "\28";
}
.zs-icon-download:before {
  content: "\29";
}
.zs-icon-validations:before {
  content: "\2a";
}
.zs-icon-report-template:before {
  content: "\2b";
}
.zs-icon-search:before {
  content: "\2c";
}
.zs-icon-source:before {
  content: "\2d";
}
.zs-icon-preview:before {
  content: "\2e";
}
.zs-icon-rules:before {
  content: "\2f";
}
.zs-icon-expand-frame:before {
  content: "\30";
}
.zs-icon-restore-frame:before {
  content: "\31";
}
.zs-icon-pending-approval:before {
  content: "\32";
}
.zs-icon-rejected-approval:before,
.zs-icon-remove:before {
  content: "\33";
}
.zs-icon-revisions-requested:before {
  content: "\34";
}
.zs-icon-refresh:before {
  content: "\35";
}
.zs-icon-check-success:before,
.zs-badge-check-success:after {
  content: "\36";
}
.zs-icon-ok:before,
.zs-icon-check-success:before,
.zs-badge-check-success:after {
  content: "\36";
}
.zs-icon-refinement:before {
  content: "\37";
}
.zs-icon-print:before {
  content: "\38";
}
.zs-icon-map:before {
  content: "\39";
}
.zs-icon-lock:before {
  content: "\3a";
}
.zs-icon-info:before {
  content: "\3b";
}
.zs-icon-help:before {
  content: "\3c";
}
.zs-icon-generatedreport:before {
  content: "\3d";
}
.zs-icon-folder-shortcut:before {
  content: "\3e";
}
.zs-icon-folder-open:before {
  content: "\3f";
}
.zs-icon-folder-closed:before {
  content: "\40";
}
.zs-icon-external-bio:before {
  content: "\41";
}
.zs-icon-expand:before {
  content: "\42";
}
.zs-icon-collapse:before {
  content: "\4b";
}
.zs-icon-edit:before {
  content: "\43";
}
.zs-icon-duplicate:before {
  content: "\44";
}
.zs-icon-delete:before {
  content: "\45";
}
.zs-icon-add-value-key:before {
  content: "\46";
}
.zs-icon-add:before {
  content: "\47";
}
.zs-icon-dashboard:before {
  content: "\48";
}
.zs-icon-current-item:before,
.zs-badge-current-item:after,
.zs-badge-current-item:before {
  content: "\49";
}
.zs-icon-constant:before {
  content: "\4a";
}
.zs-icon-close:before {
  content: "\4c";
}
.zs-icon-calendar:before {
  content: "\4d";
}
.zs-icon-calculated-value:before {
  content: "\4e";
}
.zs-icon-added-value:before {
  content: "\4f";
}
.zs-icon-building:before {
  content: "\50";
}
.zs-icon-arrow-previous:before {
  content: "\51";
}
.zs-icon-arrow-next:before {
  content: "\52";
}
.zs-icon-pdf:before,
.zs-badge-pdf:before {
  content: "\54";
}
.zs-icon-excel:before,
.zs-badge-excel:before {
  content: "\55";
}
.zs-icon-misc:before {
  content: "\56";
}
.zs-icon-delta-arrow-up:before {
  content: "\58";
}
.zs-icon-expand-left:before {
  content: "\59";
}
.zs-icon-ppt:before,
.zs-badge-ppt:before {
  content: "\5a";
}
.zs-icon-img:before {
  content: "\60";
}
.zs-icon-background-check-success:before,
.zs-badge-circle:before {
  content: "\61";
}
.zs-icon-background-error:before,
.zs-badge-rectangle:before {
  content: "\62";
}
.zs-icon-backgroundwarning:before,
.zs-badge-triangle:before {
  content: "\63";
}
.zs-icon-spinner:before,
.zs-loading:after {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'zsIcons';
  content: "\64";
}
.zs-icon-hamburger:before {
  content: "\65";
}
.zs-icon-logout:before {
  content: "\66";
}
.zs-icon-move-up:before,
.zs-badge-arrow:before {
  content: "\67";
}
.zs-icon-home:before {
  content: "\69";
}
.zs-icon-move-down:before {
  content: "\6a";
}
.zs-icon-publish:before {
  content: "\70";
}
.zs-icon-published:before {
  content: "\71";
}
.zs-icon-grid:before {
  content: "\72";
}
.zs-icon-dragger:before {
  content: "\73";
}
.zs-icon-warning-diamond:before {
  content: "\74";
}
.zs-icon-link:before {
  content: "\75";
}
.zs-icon-table:before {
  content: "\76";
}
.zs-icon-filter:before {
  content: "\77";
}
.zs-icon-trend:before {
  content: "\7a";
}
.zs-icon-settings:before,
.zs-badge-gear:before {
  content: "\7c";
}
.zs-icon-txt:before,
.zs-badge-txt:before {
  content: "\7d";
}
.zs-icon-zip:before,
.zs-badge-zip:before {
  content: "\7e";
}
.zs-icon-document:before {
  content: "\df";
  color: #74797D;
}
.zs-icon-trophy:before {
  content: "\e4";
}
.zs-icon-rep:before {
  content: "\e6";
}
.zs-icon-manually-defined:before {
  content: "\f8";
}
.zs-icon-suggested-action:before {
  content: "\f9";
}
.zs-icon-product:before {
  content: "\fa";
}
.zs-icon-statistically-derived:before {
  content: "\fc";
}
.zs-icon-popout:before {
  content: "\17e";
}
.zs-icon-prev:before {
  content: "\2039";
}
.zs-icon-next:before {
  content: "\203A";
}
.zs-icon-first:before {
  content: "\2264";
}
.zs-icon-last:before {
  content: "\2265";
}
.zs-icon-tag:before {
  content: "\e5";
}
.zs-icon-square:before {
  content: "\25fc";
}
.zs-icon-diamond:before {
  content: "\b4";
}
.zs-icon-word:before,
.zs-badge-word:before {
  content: "\e621";
}
.zs-icon-key:before {
  content: "\b6";
}
.zs-icon-positive:before {
  content: "\a2";
}
.zs-icon-negative:before {
  content: "\a3";
}
.zs-icon-notes:before {
  content: "\7b";
}
.zs-icon-frame:before {
  content: "\78";
}
.zs-icon-clipnote:before,
.zs-icon-mike:before {
  content: "\79";
}
.zs-icon-envelope:before {
  content: "\h";
}
.zs-icon-frame-next:before {
  content: "\57";
}
.zs-icon-eye:before {
  content: "\b1";
}
.zs-icon-eye-closed:before {
  content: "\b2";
}
.zs-icon-globe:before {
  content: "\b3";
}
.zs-icon-summary:before,
.zs-icon-tiles:before {
  content: "\a1";
}
.zs-icon-javelin:before {
  content: "\2673";
}
.zs-icon-speech-bubble:before {
  content: "\C1";
}
.zs-icon-flag:before {
  content: "\FF";
}
.zs-icon-resize:before {
  content: "\E0";
}
.zs-icon-territory-l1:before {
  content: "\E01";
}
.zs-icon-territory-l2:before {
  content: "\E02";
}
.zs-icon-territory-l3:before {
  content: "\E03";
}
.zs-icon-territory-l4:before {
  content: "\E04";
}
.zs-icon-territory-l5:before {
  content: "\E05";
}
.zs-icon-territory-l6:before {
  content: "\E06";
}
.zs-icon-territory-l7:before {
  content: "\E07";
}
.zs-icon-territory-l8:before {
  content: "\E08";
}
.zs-icon-territory-l9:before {
  content: "\E09";
}
.zs-icon-territory-l10:before {
  content: "\E10";
}
.zs-icon-flowchart:before {
  content: "\b5";
}
.zs-icon-scissors:before {
  content: "\c2";
}
.zs-icon-derived:before {
  content: "\d1";
}
.zs-icon-play:before {
  content: "\d2";
}
.zs-icon-select-lasso:before {
  content: "\6b";
}
.zs-icon-select-rectangle:before {
  content: "\6c";
}
.zs-icon-zoom-rectangle:before {
  content: "\6d";
}
.zs-icon-icon-plus:before {
  content: "\6e";
}
.zs-icon-icon-minus:before {
  content: "\6f";
}
.zs-icon-horn:before {
  content: "\5f";
}
.zs-icon-handshake:before {
  content: "\301";
}
.zs-icon-stop:before {
  content: "\300";
}
.zs-icon-pause:before {
  content: "\5e";
}
.zs-icon-redo:before {
  content: "\53";
}
.zs-icon-user-settings:before {
  content: "\5d";
}
.zs-icon-user-deligate:before {
  content: "\5b";
}
.zs-icon-javelin:after {
  content: "\2674";
  position: absolute;
  left: 0;
  top: 0;
}
.zs-icon-javelin .zs-icon-javelin-shadow {
  position: absolute;
  left: 0;
  top: 0;
}
.zs-icon-javelin .zs-icon-javelin-shadow:before {
  content: "\2675";
}
.zs-icon-user-permissions .zs-badge-gear:before {
  border-radius: 0.5em;
  color: inherit;
  background: #ffffff;
}
.zs-icon-user-permissions .zs-badge-arrow {
  left: -0.4em;
  top: 1.3em;
}
.zs-icon-user-permissions .zs-badge-arrow:before {
  color: inherit;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  text-shadow: #ffffff 0 -0.1em;
}
.zs-grid-row {
  display: block;
}
.zs-grid-row:before,
.zs-grid-row:after {
  content: " ";
  display: table;
}
.zs-grid-row:after {
  clear: both;
}
.zs-grid-row form *:last-child > p,
form .zs-grid-row *:last-child > p,
form.zs-grid-row *:last-child > p {
  margin-right: 0;
}
.zs-grid-row:last-child > p:last-child {
  padding-bottom: 0;
}
.zs-grid-row .zs-field-flex {
  min-width: 21.42857143em;
}
.zs-grid-pad {
  *zoom: 1;
  display: block!important;
  margin-right: 0.71em;
}
.zs-grid-pad:before,
.zs-grid-pad:after {
  content: "";
  display: table;
}
.zs-grid-pad:after {
  clear: both;
}
.zs-grid-pad:before,
.zs-grid-pad:after {
  content: "";
  display: table;
}
.zs-grid-pad:after {
  clear: both;
}
.zs-grid-col-1-3 {
  float: left;
  width: 33.33333333%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-3:last-child {
  margin-right: 0;
}
.zs-grid-col-3-3 {
  float: left;
  width: 8.33333333%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-2-3 {
  float: left;
  width: 66.66666667%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-2-3:last-child {
  margin-right: 0;
}
.zs-grid-pad-2 {
  *zoom: 1;
  display: block!important;
  margin-right: 1.42em;
}
.zs-grid-pad-2:before,
.zs-grid-pad-2:after {
  content: "";
  display: table;
}
.zs-grid-pad-2:after {
  clear: both;
}
.zs-grid-col-1-1 {
  float: left;
  width: 8.33333333%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-2 {
  float: left;
  width: 50%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-2:last-child {
  margin-right: 0;
}
.zs-grid-col-1-4 {
  float: left;
  width: 25%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-4:last-child {
  margin-right: 0;
}
.zs-grid-col-1-5 {
  float: left;
  width: 25%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-5:last-child {
  margin-right: 0;
}
.zs-grid-col-1-6 {
  float: left;
  width: 20%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-6:last-child {
  margin-right: 0;
}
.zs-grid-col-1-7 {
  float: left;
  width: 14.28571429%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-7:last-child {
  margin-right: 0;
}
.zs-grid-col-1-8 {
  float: left;
  width: 12.5%;
  margin-right: 0;
  box-sizing: border-box;
}
.zs-grid-col-1-8:last-child {
  margin-right: 0;
}
