<header class="zs-mobile-header">
		<div class="zs-brand-stripe"></div>
		<div class="zs-brand-bar">
			<div class="zs-row">
				<div class="zs-logo">
					{#<img src="../static/images/logo-small.png" class="zs-small">#}
					<img src="../static/images/logo.png" class="zs-normal">
				</div>

				<div class="zs-nav">
					<nav class="zs-top-navigation">
					</nav>
				</div>
                <div class="zs-user-bar"><div role="profile"><a href="/logout"><span class="zs-icon zs-icon-user-permissions"><span class="zs-badge zs-error zs-badge-error zs-badge-rectangle" style="display: none;"></span></span><span class="zs-icon zs-icon-large zs-icon-user-permissions"><span class="zs-badge zs-error zs-badge-error zs-badge-rectangle" style="display: none;"></span></span><label>Logout</label></a></div>
					<div role="help">
						<a href="javascript:void(0);">
							<span class="zs-icon zs-icon-help"></span>
							<span class="zs-icon zs-icon-large zs-icon-help"></span>
							<label>Help</label>
						</a>
					</div>
				</div>
			</div>
		</div>
		<nav class="zs-top-navigation">
			<ul>
                <li><a href="/registerData">Data Registration</a></li>
				<li>
					<a href="/dataCatalog">Data Catalog</a>
				</li>
				<li><a href="/dataDqm/displayAll">DQM Checks</a></li>
                <li><a href="/loadhistory/displayAll">Load Statistics</a></li>

			</ul>
		</nav>

	</header>